.center{
	width: 50%;
	margin-top: 40px;
	margin-left: 25%;

}

.song{
	width: 100%;
	margin-left: 0;
	height: 800px;
}

.favorites_item{
	height: auto;
	width: 15%;
	margin-right: 5%;
	margin-bottom: 40px;
	font-size: 20px;
	float: left;
	
}